@model CapaTours.Models.TourModel

<div class="row px-5">
    <div class="col-12 px-0">
        <div class="row mx-1 mb-4">
            <div class="col-auto">
                <a class="btn btn-secondary btn-sm" asp-controller="ToursCliente" asp-action="ListadoCliente">
                    <i class="fa-solid fa-arrow-left"></i> Regresar
                </a>
            </div>
        </div>

        <div class="container mt-5">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="display-3 px-0">@Model.Nombre</h1>
                    <p class="text-muted px-0">Encuentra cada detalle del tour que hayas seleccionado</p>
                    <br>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Destino:</strong> @Model.Destino</li>
                        <li class="list-group-item"><strong>Descripción:</strong> @Model.Descripcion</li>
                        <li class="list-group-item"><strong>Itinerario:</strong> @Model.Itinerario</li>
                        <li class="list-group-item"><strong>Precio:</strong> $@Model.Precio</li>
                        <li class="list-group-item"><strong>Capacidad:</strong> @Model.Capacidad</li>
                        <li class="list-group-item"><strong>Fecha de Inicio:</strong> @Model.FechaInicio</li>
                        <li class="list-group-item"><strong>Fecha de Fin:</strong> @Model.FechaFin</li>
                        <li class="list-group-item"><strong>Descuento:</strong> @(Model.Descuento > 0 ? $"{Model.Descuento}%" : "Sin descuento")</li>
                    </ul>
                    <button class="btn btn-lg mt-3" style="background-color: #7B9C36; color: white;" data-bs-toggle="modal" data-bs-target="#reservarTourModal">
                        ¡Reserva hoy! <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </div>
                <div class="col-md-6 text-center">
                    <img src="" alt="Imagen de Tour" class="img-fluid rounded shadow">
                </div>
            </div>
        </div>
    </div>
</div>



@* Modal de Reservar Tour *@
<div class="modal fade" id="reservarTourModal" tabindex="-1" aria-labelledby="reservarTourModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservarTourModalLabel">Reservar Tour</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="reservaInput" class="form-label">Ingrese la cantidad de personas a reservar:</label>
                <input type="number" class="form-control" id="reservaInput" placeholder="Ejemplo: 3">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn" style="background-color:#44572f; color:white" id="confirmarReservaBtn">Reservar</button>
            </div>
        </div>
    </div>
</div>
